<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <link rel="stylesheet" href="templates\style.css">
  <title>Custon Tote Bag</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CUSTOM TOTE BAG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container-fluid mb-5">
    <div class="container">

      <div class="gallery-custom row">
        <div class="row mb-3">
          <p>Type:</p>
        </div>
        <div class="row">
          <div class="kotak col-md-3">
            <img src="templates\images\cl1.jpg">
            <p>A</p>
          </div>
          <div class="kotak col-md-3">
            <img src="templates\images\cl2.jpg">
            <p>B</p>
          </div>
          <div class="kotak col-md-3">
            <img src="templates\images\wbb1.jpg">
            <p>C</p>
          </div>
          <div class="kotak col-md-3">
            <img src="templates\images\wbb2.jpg">
            <p>D</p>
          </div>
        </div>
      </div>

      <div>
        <form action="index.php" class="register" method="POST">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4 mr-5 card">

              <p><b>CUSTOM TOTE BAG</b></p>

              <p class="mt-2 mb-1">Type <i>(choose one):</i></p>

              <div class="row d-flex ml-3">
                <input type="radio" id="A" name="tipe" value="A" class="mt-1" required>
                <label for="A" style="padding: 0;" class="ml-1"> A</label>

                <input type="radio" id="B" name="tipe" value="B" class="mt-1 ml-3">
                <label for="B" style="padding: 0;" class="ml-1"> B</label>

                <input type="radio" id="C" name="tipe" value="C" class="mt-1 ml-3">
                <label for="C" style="padding: 0;" class="ml-1"> C</label>

                <input type="radio" id="D" name="tipe" value="B" class="mt-1 ml-3">
                <label for="D" style="padding: 0;" class="ml-1"> D</label>

              </div>

              <p class="mt-2 mb-1">Color</i></p>
              <select id="color" name="color">
                <option value="White">White</option>
                <option value="Yellow">Yellow</option>
                <option value="Black">Black</option>
                <option value="Pink">Pink</option>
              </select>

              <br>
              <p class="mt-2 mb-1">Size</i></p>
              <select id="size" name="size">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
              </select>

              <br>
              <p class="mt-2 mb-1">Tali Panjang</i></p>
              <div class="row d-flex ml-3">
                <input type="radio" id="yes" name="tali" value="Yes" class="mt-1" required>
                <label for="yes" style="padding: 0;" class="ml-1">Yes</label>

                <input type="radio" id="no" name="tali" value="No" class="mt-1 ml-3">
                <label for="no" style="padding: 0;" class="ml-1">No</label>
              </div>
            </div>

            <div class="col-md-5 card">
              <p><b>PRICE LIST</b></p>
              <table border="1">
                <tr>
                  <td class="py-2">S</td>
                  <td>Rp. 100.000,-</td>
                </tr>
                <tr>
                  <td class="py-2">M</td>
                  <td>Rp. 130.000,-</td>
                </tr>
                <tr>
                  <td class="py-2">L</td>
                  <td>Rp. 155.000,-</td>
                </tr>
                <tr>
                  <td class="py-2">XL</td>
                  <td>Rp. 175.000,-</td>
                </tr>
                <tr>
                  <td class="py-2">Tali Panjang</td>
                  <td>+ Rp. 10.000,-</td>
                </tr>
              </table>

              <p class="mt-5"><b>YOUR PERSONAL DETAILS</b></p>
              <table border="0">
                <tr>
                  <td><label>Name</label></td>
                  <td><input class="inputan" type="text" name="name" placeholder="First Name" required></td>
                </tr>
                <tr>
                  <td><label>Phone</label></td>
                  <td><input class="inputan" type="phone" name="telp" placeholder="Phone" required></td>
                </tr>
              </table>
            </div>

          </div>


          <div class="button-register mt-3">
            <input class="jarak isi-btn" type="reset" name="cancel" value="Cancel">
            <input class="jarak isi-btn" type="submit" name="add" value="Pesan">
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="d-flex justify-content-center">
        <!-- Tabel 1 - Task -->
        <div style="display: inline-block;" class="mx-auto">
          <h3>Daftar</h3>
          <!-- TABEL1 -->
          <table align="left" border="1" style="text-align: center;">
            <tr>
              <td class="p-2">No</td>
              <td class="p-2">Name</td>
              <td class="p-2" style="width: 20%;">Telp</td>
              <td class="p-2">Type</td>
              <td class="p-2">Color</td>
              <td class="p-2">Size</td>
              <td class="p-2">Tali</td>
              <td class="p-2">Harga</td>
              <td class="p-2">Status</td>
              <td class="p-2">Aksi</td>
            </tr>
            <tr>
              <!-- DATA YG AKAN DIGANTI -->
              DATA_TABEL
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>